.task_column {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task_column_heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 1rem;
  margin-bottom: 1.5rem;
  width: 20rem;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  display: inline-block;
  font-size: 1.4rem;
}

.close_icon {
  background-color: #fff;
  height: 25px;
  border-radius: 50%;
  margin-right: 0.8rem;
}
