.task_column {
  margin-top: 2rem;
  margin-left: 3.5rem;
  justify-content: center;
  align-items: center;
}

.task_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  display: inline-block;
  font-size: 1.4rem;
}

.close_icon {
  background-color: #fff;
  height: 25px;
  border-radius: 50%;
  margin-right: 0.8rem;
}
